/* 
    Document   : layout
    Created on : Jan 18, 2013, 9:53:41 AM
    Author     : mark
    Description:
                Positioning of all the pieces on the page.

*/

body {/*min-width: 980px;*/}
html, body {height: 100%;}
#main {overflow:auto; padding-bottom: 0px;min-height: 100%; /*min-width:980px;*/}
#wrap {
  /*min-height: 100%;*/
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
#homecuBannerArea {
	position: relative;
	background-position: left top;
  padding: 0px 50px 0px 230px;
}

#topbar {
    padding:0;
    /*color: #fff;*/
/*    
    border-top: 2px solid #fff;
    border-bottom: 1px solid #fff;
*/
    /*position: relative;*/
    /*height: 32px;*/
    
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000', GradientType=0 );
    /*background-color: #EEEEEE;*/

    /* mws 12/3 changes height: 60px;*/
    height: 45px;
    vertical-align: middle;
}
/*topbar span {margin:0;}*/
/*#topbar span:first-child {width:50%;}*/
/*#topbar #logoff {padding-left:18px; background:url("https://cucommon.s3.amazonaws.com/homecu/images/toplogoff.gif") 0 50% no-repeat; text-transform:uppercase;}*/

#topbar span.top-title {
  /*padding: 5px 0 0 230px;*/
  padding: 1px 0 0 230px;
  height: 43px;
  display: inline-block;
}
/*
  background: url("../images/logo.png") 0 0 no-repeat;
  background-size: 160px 43px;
*/
#topbar span.top-title p {
  margin:15px 15px 15px 0;
}
#topbar .header-notice {
  position:absolute;
  top: 0px;
  right: 20px;
  /* mws change 12/3width:300px;
  background-color: #ededed;
  height: 54px;  
  */
  width: 200px;
  background-color: #FFF;
  height: 40px;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 5px;
  padding-top: 2px;
  margin-right: 10px;
  text-align:right;
}

#topbar .header-notice .account {
  text-align: right;
  padding: 3px 20px 7px 0;
  display: block;
  width:280px;
}
#topbar .header-notice .lastlogin {
  float:right;
  width: 280px;
  font:85%/1.2 helvetica, verdana, sans-serif;
  display: inline-block;
}
#topbar .header-notice .lastlogin .l-title {
  text-align: right;
  float:left;
  padding-right: 1px;
  padding: 0 3px 0 0;
  display: inline-block;
}
#topbar .header-notice .lastlogin .l-date{
 float: right;
 text-align: left; 
 padding-right: 10px;
 display: inline-block;
}


/* ** MAIN MENU ** */
#action_box {
    /*padding: 10px 0 5px 232px;*/
    padding: 4px 0 2px 232px;
    /*color: #fff;*/
/*    
    
    border-bottom: 1px solid #fff;
*/
    border-top: 2px solid #fff;
    position: relative;
    /*height: 42px;
    */
    height: 38px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000', GradientType=0 );
    /*background-color: #770000;*/
}
#action_box .row {
    margin-bottom: 0;
}
#action_box h4.text {
    /*margin: 5px 0;*/
    font-weight: 500;
    /*font-size: 22px;*/
}
#action_box .cu-title {  
    font:120%/1 helvetica, verdana, sans-serif;
    font-weight: bold;
}
/*
#action_box:after, #action_box:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -14px;
    margin-left: -25%;
    border-radius: 3px;
    border: 8px solid transparent;
    border-top-width: 7px;
    border-top-color: #1AAFFF;
}
*/
#action_box:after {
    border-top-color: rgba(0, 0, 0, 0.2);
}
#action_box[data-arrowpos=center]:after, #action_box[data-arrowpos=center]:before {
    margin-left: -7px;
}
#action_box[data-arrowpos=right]:after, #action_box[data-arrowpos=right]:before {
    margin-left: 25%}
#action_box .site_link {
  margin-right: 40px;
  padding-top: 5px;
}
.button {
  font-family: Arial;
  /*color: #333333;*/
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 0px 1px 2px #d1d1d1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#DBDBDB));
  background: -moz-linear-gradient(top, #FFFFFF, #DBDBDB);
  background: linear-gradient(0deg, #FFFFFF, #DBDBDB);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFF, endColorStr=#DBDBDB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFF, endColorStr=#DBDBDB);
  display:inline-block; /* IE is so silly */
}
.button:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#EAEAEA), to(#FFFFFF));
  background: -moz-linear-gradient(top, #EAEAEA, #FFFFFF);
  background: linear-gradient(0deg, #EAEAEA, #FFFFFF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#DBDBDB);
  /*color: #df0000;*/
}

.button.item-active{
  font-family: Arial;
  /*color:#0085cc;*/
  font-weight: bold;
  font-size: 12px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 0px 1px 2px #d1d1d1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#EAEAEA), to(#FFFFFF));
  background: -moz-linear-gradient(top, #EAEAEA, #FFFFFF);
  background: linear-gradient(0deg, #EAEAEA, #FFFFFF);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFF, endColorStr=#DBDBDB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#FFFFFF, endColorStr=#DBDBDB);
  display:inline-block; /* IE is so silly */
  
}
#submenu .padding {padding-left:15px;}
/*#submenu .btn-link {margin:0 0 15px 0;}*/
/*#submenu .btn-link a {float:left; padding-left:8px; height:37px; overflow:hidden; background:url("https://cucommon.s3.amazonaws.com/homecu/images/btn-link-left.png") 0 0 no-repeat; text-decoration:none; font-weight:bold; cursor:pointer;}*/
/*#submenu .btn-link a span {float:left; display:block; width:163px; padding:8px 10px 10px 10px; background:url("https://cucommon.s3.amazonaws.com/homecu/images/btn-link-right.png") -2px 0 no-repeat;background-position:right;}*/
#submenu ul.menu {width:215px; margin:0 0 15px 0; list-style:none; padding:0px;}
#submenu ul.menu li {display:inline-block;}
#submenu ul.menu li a {display:inline-block; width:170px; padding:4px 15px; text-decoration:none;}
#submenu ul.menu li#submenu-active a {width:170px; border:0; font-weight:bold; z-index:999;}
#submenu ul.menu ul {margin:0; position:static;}
#submenu ul.menu ul li a, #submenu ul.menu li#submenu-active ul li a {width:170px; padding:5px 15px 5px 30px;  font:85%/1.2 helvetica, verdana, sans-serif; font-weight:normal;}
#submenu  .arrow {
  
  float:right;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  width:0;
  height:0; 
  border:10pt solid transparent;
  border-right-width: 0px;
  z-index:1;
}
/* ** CONTENT STYLE ** */
#content {position:relative;overflow:visible;min-height: 300px; box-shadow: -2px 0px 2px #666666; -webkit-box-shadow: -2px 0px 2px #666666; -moz-box-shadow: -2px 0px 2px #666666;}
#content h1 {margin:0px;padding:10px 15px; /*background:url("../design/content-h1.gif") 0 0 repeat-x; */letter-spacing:-1px; font-size:100%;}
#content .col50 {float:left; width:49%;}
#content .col33 {float:left; width:32%;}
#content .col33.center {padding:0 2%;}

/* ** FOOTER ** */

#footer {padding:15px;  font:85%/1.2 helvetica, verdana, sans-serif;}
#footer {
  /*position: relative;*/
	margin-top: -60px; /* negative value of footer height + top border*/
	height: 28px;
  clear:both;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
} 

#footer p {margin:0;}


/* ** FORM STYLING ** */


/* ** STYLES USED ** */
/*
body, textarea, input, select, option, button { color: #555; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 1.25; }
li, dt, dd, p, th, td, caption, pre { font-size: 1.2em; }
ul, ol, dl, p, table, pre, h1, h2, h3, h4, h5, h6 { margin-bottom: 15px; }
ul, ol, dd, blockquote { padding-left: 40px; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
li *, li p, li li, dt *, dd *, p *, th *, td * { font-size: 1em; }
*/

/*
button { overflow: visible; padding: 0 10px; cursor: pointer; } button::-moz-focus-inner { padding: 0; border: none; }
*/

/* headers */

h1, h2, h3, h4, h5, h6 { }
h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }
/*
 .header-a { margin-bottom: 10px; color: #9a9a9a; font-size: 3em; letter-spacing: -0.04em }

 .header-b { float: left; height: 61px; padding-left: 16px; line-height: 47px; color: #c45035; font-size: 3em; background: url(../images/header-b-bg-left.png) 0 0 no-repeat; text-align: center; }
  .header-b span { float: left; display: block; height: 61px; width: 200px; line-height: 43px; color: #c45035; background: url(../images/header-b-bg-right.png) 100% 0 no-repeat; text-align: center; }

 .header-c { margin: 0; font-size: 1.2em; font-weight: bold; color: #c7e577; }

 .header-d { font-size: 2.4em; color: #000; letter-spacing: -0.04em; }
  .header-d span { padding-left: 10px; color: #9a9a9a; font-size: 0.6em; }
   .header-d span em { font-style: normal; color: #b4462c; }
   *:first-child+html .header-d { font-size: 2.4em; color: #000; letter-spacing: -1px; }
   * html .header-d { font-size: 2.4em; color: #000; letter-spacing: -1px; }
	
*/
#hbfWrapper{position:relative; top:0; left:0; z-index:9999; overflow:visible;}

.form-c {  }	 
.form-c p.field-wrapper { float: left; margin-bottom: 18px; /*background: #fff;*/ padding: 5px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }	 
.form-c label { display: block; padding: 0 0 6px 4px; color: #333333; }	 
.form-c input { width: 260px; padding: 5px 3px; color: #999; border: 1px solid #333333; }
.form-c textarea { width: 260px; height: 118px; padding: 5px 3px; color: #999; border: 1px solid #333333; }
.form-c button { 
  
}
.form-c .btn { margin: 0; }
.form-c p.fw-a { margin: 0 0 10px 0; }
.form-c p.fw-b { margin: 0; }


.box-r { width: 600px; padding: 5px 0; /*background: #f3f3f3;*/ }	
.box-r h2 { margin-bottom: 4px; font-size: 1.6em; color: #333333; line-height: 1; letter-spacing: -0.04em; }		
.box-r p { font-weight: bold; font-size: 1.0em; color: #999; letter-spacing: -0.02em; }		
.box-r .image-a { margin: 0; }		
.box-r .image-a img { display: block; padding: 1px; background: #d5cdb6; border: 2px solid #fffeff; }		


.cols-two-g { overflow: hidden; width: 100%;  }	 
.cols-two-g .primary-tg { float: left; width: 290px; padding-left: 3px; }	 
.cols-two-g .primary-tg .header { overflow: hidden; width: 239px; height: 45px;}

.cols-two-g .secondary-tg { float: left; width: 282px; padding-left: 18px; border-left: 1px solid #D1D1D1;}
.cols-two-g .secondary-tg .header {overflow: hidden; width: 268px; height: 45px; }


/* Form Input Styling */

.formInputx .field-label-wrapper { 
  padding: 5px 5px 5px 20px; 
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}
.formInputx .field-label-wrapper label {    
  display: block; 
  padding: 10px 0 6px 4px; 
  font-size:1.2em; 
  margin-left: -10px; width: 100%;
}
.formInputx .field-label-wrapper label hr { 
  z-index: 0; 
  display:inline-block; 
  width: 100%; 
  position:relative; 
  top:-24px;
}

.infoAcctText {
  font-weight: bold;
  font-size: 14px;
}
.infoBox {
  line-height: 2;
  width: 250px;
}
.infoBox .infoLabel {
  text-align: left;
  display:block;
  float: left;
}
.infoBox .infoValue {
  text-align: right;
  display:block;
}
.formNoLabels label {
  display: none;
}

.homecuForm button {
  min-width: 100px;
}

.homecuForm .k-content{
  padding: 4px;
}

#progress-frame {
  width: 340px;
  /*background-color: #FFF;*/
  height: 50px;
  font-size: 8pt;
}
#progress-frame .progress {
  height: 18px;
}
#progress-frame .progress .column {
  display:inline-block;
  height: 18px;
  width: 80px;
  float:left;
}
#progress-frame .progress .column-first {
  width:8px;
}
#progress-frame .progress .column-last {
  width:8px;
}
#progress-frame .progress .column.separator {
  width: 2px;
}

#progress-frame .progress-caption .column{
  text-align: center;
  float:left;
  display: inline-block;
}
#progress-frame .end{
  width: 90px;
}
#progress-frame .mid{
  width: 160px;
}
#progress-frame .progress-caption p {
  font-size: 8pt;
  margin-top:2px;
}
#progress-frame .progress-caption p span {
  /*padding-left: 20px;*/
  padding: 2px 0 0 20px;
  height:18px;
  display:inline-block;
  width: 100%;
  text-align:left;
}
#homecu-notify-container {
  position:absolute;
  top: 0px;
  right: 10px;
  width: 200px;
  background-color: #FFF;
  height: 40px;  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 5px;
  padding-top: 2px;
  margin-right: 5px;
  text-align:right;
}
.showHomecuBanner #homecu-notify-container {
  top:70px;
}
#homecu-notify-container
{*zoom:1}

/*
#homecu-notify-container .homecu-notify-panel
{display:none}
*/
#homecu-notify-container .homecu-notify-panel
{
  position:absolute;
  z-index: 999999;
  margin-top: 17px;
  margin-right: 20px;
}
/*
#telerik-bar .show .arrow,
#telerik-bar .show .telerik-menu-panel
*/
#homecu-notify-container .show-account .arrow,
#homecu-notify-container .show-info .arrow,
#homecu-notify-container .show-info .homecu-notify-panel,
#homecu-notify-container .show-account .homecu-notify-panel
{
  visibility:visible;
  -webkit-transition-delay:0s;
  transition-delay:0s;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
  z-index: 999999;
}

/*#telerik-bar .show .arrow*/
#homecu-notify-container .show-account .arrow,
#homecu-notify-container .show-info .arrow
{
  /*top:15px;*/
  -webkit-transition-delay:0.25s;
  transition-delay:0.25s;
  position: relative;
  top: 10px;
  z-index: 9999999;
}
.homecu-notify-panel {
  text-align: left;
}
#homecu-notify-container .show-account .arrow
{
  margin-right: 30px;  
}
#homecu-notify-container .show-info .arrow{
  margin-right: 91px;
}

#homecu-notify-container .show-account .homecu-notify-panel
{
  background-color: #FFFFFF;
  width: 400px;
  /*height: 138px;*/
}
#homecu-notify-container .show-info .homecu-notify-panel {
  background-color: #FFFFFF;
  width: 400px;
  /*height: 250px;*/
}
.homecu-notify-panel-account {
  visibility: hidden;
  display: none;
}
.homecu-notify-panel-info {
  visibility: hidden;
  display: none;
}
.homecu-notify-panel-account .homecu-account-panel-top {
  background: #FFFFFF;
  margin: 20px; 
  font-size: 1.2em;
  line-height: 1.5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
.homecu-notify-panel-account .homecu-account-panel-top .hap-notices {
  border-bottom: 1px solid #CCC;
  border-color: rgba(0,0,0,.2);
  padding-bottom: 15px;
  margin-bottom:10px;
}
.hap-notices .hap-notify {
  font-weight: bold;
  margin: -4px 0 1px 0;
  display: block;
  color: #FF0000;  
}
.homecu-notify-panel-account .homecu-account-panel-top .hap-myaccount {
  font-weight: bold;
  margin: -4px 0 1px 0;
  display: block;
  white-space: nowrap;
  text-align: left;
  color: black;

}
.homecu-notify-panel-account .homecu-account-panel-top .hap-myemail {
}
.homecu-notify-panel-account .homecu-account-panel-top .hap-myemail a:visited,
.homecu-notify-panel-account .homecu-account-panel-top .hap-myemail a {
  color: #666;
  text-decoration: underline;
}
.homecu-notify-panel-account .homecu-account-panel-top .hap-myemail a:hover {
  text-decoration: none;  
}
.homecu-notify-panel-account .homecu-account-panel-top .hap-switch {
  margin-top: 5px;
}

.homecu-notify-panel-account .homecu-account-panel-top .hap-switch p {
  color: #666;
}
.homecu-notify-panel-account .homecu-account-panel-top .hap-switch .hap-switch-select {
  margin-left: 20px;
}
.homecu-notify-panel-account .homecu-account-panel-bottom {
  background: #F5F5F5;
  border-top: 1px solid #CCC;
  border-color: rgba(0,0,0,.2);
  padding: 10px 30px;
  /*width: 100%;
  display: table;*/
  height: 30px;
  text-align: right;
  
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

#homecu-notify-container .show-account .homecu-notify-panel-account {
  display: block;
  visibility: visible;
}
#homecu-notify-container .show-info .homecu-notify-panel-info {
  display: block;
  visibility: visible;
  font-size: 1.2em;
}

.homecu-notify-panel-info .hip-data-section {
  /*white-space: nowrap;*/
  text-align: left;
  padding: 20px;
}
.homecu-notify-panel-info .hip-data-section .hip-data-title {
  font-weight: bold;
  margin: -4px 0 1px 0;
  display: block;
  color: black;
  
}
.homecu-notify-panel-info .hip-data-section .hip-notify {
  color: #FF0000;
}
.homecu-notify-panel-info .hip-data-section .hip-data {
  color: #666;
  margin: 0 0 20px 30px;
  display: block;  
}
.homecu-notify-panel-info .hip-data-section .hip-data-notify {
  color: #FF0000;
  margin: 0 0 20px 30px;
  display: block;  
}

.homecu-notify-panel-info .hip-data-section .hip-data-sitemap {
  font-size: 1.5em;
}
.homecu-notify-panel-info .hip-data-section a.hip-data-sitemap:visited,
.homecu-notify-panel-info .hip-data-section a.hip-data-sitemap {
  color: #666;
  text-decoration: underline;
}
.homecu-notify-panel-info .hip-data-section a.hip-data-sitemaphover {
  text-decoration: none;  
}
/*#telerik-bar .arrow*/
#homecu-notify-container .arrow 
{
  visibility:hidden;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity:0;
  /*top:30px;*/
  right:-1px;
  width:0;
  height:0;
  border:10px solid transparent;
  /*border-bottom-color:#3d4350;*/
  /*border-bottom-color:#FFF;*/
  border-top-color: #FFF;
  
  z-index:1;
  /*
  -webkit-transition:visibility 0s linear 0.2s, top 0.2s linear;
  transition:visibility 0s linear 0.2s, top 0.2s linear*/
}
#homecu-notify-container .arrow:hover {
  cursor: pointer;
}

/*  #telerik-menu .telerik-menu-panel*/
#homecu-notify-container .homecu-notify-panel
{
  /*visibility:hidden;*/
  visibility:visible;
  filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity:0;
  /*-webkit-transition:visibility 0s linear 0.2s, opacity 0.2s linear;
  transition:visibility 0s linear 0.2s, opacity 0.2s linear;*/
  top:35px;
  right:-25px;
  width:280px;
  /*padding:20px 10px;*/
  border-radius:6px;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  background-color:#FFFFFF;
  cursor:default;
  border: 1px solid #CCC;
}
.ie #homecu-notify-container .homecu-notify-panel
{
  visibility:visible;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
opacity:1
}
#homecu-notify-menu {
  list-style: none;
  
}

.homecu-icon-account:hover,
.homecu-icon-info:hover,
.homecu-icon-msg:hover,
.homecu-icon-account-notify:hover,
.homecu-icon-info-notify:hover,
.homecu-icon-msg-notify:hover {
  cursor: pointer;
}
.homecu-banking-icons-container {display: inline-block;width:38px;height:38px;margin-right:20px;}
.homecu-banking-icons{ background:url("https://d1kryjpwpzirc7.cloudfront.net/homecu/images/HomeCUBankingIcons.png") top left no-repeat; }
.homecu-icon-account-notify{ width:38px; height:38px; background-position:-10px -10px; }
.homecu-icon-info-notify{ width:38px; height:38px; background-position:-10px -58px; }
.homecu-icon-msg-notify{ width:38px; height:38px; background-position:-10px -106px; }
.homecu-icon-info:hover{ width:38px; height:38px; background-position:-10px -154px; }
.homecu-icon-msg:hover{ width:38px; height:38px; background-position:-10px -202px; }
.homecu-icon-info{ width:38px; height:38px; background-position:-10px -250px; }
.homecu-icon-msg{ width:38px; height:38px; background-position:-10px -298px; }
.homecu-icon-account:hover{ width:38px; height:38px; background-position:-10px -346px; }
.homecu-icon-account{ width:38px; height:38px; background-position:-10px -394px; }

.sitemap-section {
    width: 350px;
    display:none;
}

#content-full {
  padding:0px;
  margin: 0px;
  position: relative;
}
#sitemap-section a {
  color: #666;
}

#slide-in-content {
  display: block;
  vertical-align: middle;
  padding: 10px;

}
#slide-in-scroll {
  display: block;
  overflow: auto;
  /*height: 165px;*/
  max-height: 315px;
}
#slide-in-content-close {
  
  text-align: left;
  display: block;
  height:15px;
  padding-top: 5px;
}
#slide-in-content-close a {
  margin: 0 10px 10px 0;
  text-decoration: underline;
  font-weight: bold;
  color: #333;
  padding-left: 10px;
}
#slide-in-content-close a:visited,
#slide-in-content-close a:hover {
  text-decoration: none;
}

  
#slide-in-share {
    position: absolute;
    top: 25px;
    left:-2px;
    width: 100%;
    max-height:350px;
    z-index: 99;
    background-color: #FAFAFA;
    display: block;
    box-shadow: 0px 0px 10px 2px #333 inset;
    -webkit-box-shadow: 0px 0px 10px 2px #333 inset;
    border: 1px solid #999;
}
#slide-in-handle {
    position: absolute;
    width: 100%;
    height: 25px;
    border-top: 0;        
    left: 0px;
    top: 0px;
    text-align:center;
    text-decoration: none;
    box-shadow: 0px 2px 2px 1px #AAA;
    -webkit-box-shadow: 0px 2px 2px 1px #AAA;
    
}
#slide-in-handle:hover #slide-in-handle-content{
  /*opacity: .4;*/
  /*background-color: #DDD;*/
}
#slide-in-handle-icon {
  color: #FFF;
  border: 1px solid #3b5998;
  background-color: white;
}
#slide-in-handle-content {
  /*background-color: #3b5998;*/
  margin: 0px 1px 1px 1px;
  height:19px;
  /*color: #FFF;*/
  padding-top: 7px;
}

.btn-icon-custom {
  margin-right: 5px;
}

#noticeForm ul,
#noticeForm ol,
#noticeContent ul,
#noticeContent ol,
#disclosureWindow ul,
#disclosureWindow ol {
  padding-left: 40px;
}

#noticeForm p,
#noticeContent p,
#disclosureWindow p,
#login-promo p,
#login-footer p {
  margin-top: 13px;
  margin-bottom: 13px;
}
/* Add OFFSET coloring for selected row on accounts screen */
[id^="hcuTable"] table tbody tr.k-master-row.k-state-selected td a {
  color: white;
}

